body {
  font-family: sans-serif;
  width: 640px;
  margin: 0 auto;
  background-color: lightgray;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

.full-img {
  position: relative;
  width: 640px;
  height: 480px;
  border: 2px solid #555;
  background-color: #dcdcdc;
}

.displayed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgb(0 0 0 / 0);
}

button {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 3px 8px;
  background: rgb(150 150 150 / 0.6);
  border: 1px solid #999;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.thumb-bar {
  display: flex;
  gap: 2px;
  margin-top: 5px;
}

.thumb-bar img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}

.thumb-bar img:hover {
  outline: 2px solid blue;
}

/* ======================
   Didascalia
====================== */
.caption {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

/* ======================
   Contatore Immagine
====================== */
.index-display {
  text-align: center;
  font-size: 14px;
  margin-top: 4px;
  color: #555;
}
.index-display span {
  font-weight: bold;
}
.index-display .current-index {
  color: blue;
}
.index-display .total-index {
  color: green;
}